---
import { formatDate } from "@modules/formatter";
import { trans } from "@modules/i18n";
import { SITE_DEFAULT_LOCALE } from "@consts";

import Categories from "@components/astro/Post/Categories.astro";
import LinkTopRight from "@components/astro/Base/LinkTopRight.astro";
import DefaultMedia from "@components/astro/Base/DefaultMedia.astro";

const { entry, enableGap = false } = Astro.props;
const locale = SITE_DEFAULT_LOCALE;
---

<article class:list={["mt-10 lg:mt-8", { "md:odd:mt-20 md:mt-4": enableGap }]}>
    <a href={entry.data.permalink} class="group">
        <div class="relative h-48 w-full sm:h-56 md:h-44 lg:h-auto lg:aspect-video">
            {entry.data.media
                ?   <picture class="block size-full overflow-hidden">
                        <source media="(max-width: 640px)" srcset={entry.data.media.formats?.mobile.url} />
                        <img
                            class="w-full h-full object-cover opacity-80 scale-105 group-hover:scale-110 duration-500"
                            src={entry.data.media.formats?.tablet.url}
                            alt={entry.data.media.alt ?? `Media ${entry.data.title}`}
                        />
                    </picture>
                :   <DefaultMedia />
            }
            <div class="absolute size-full bg-yama-primary top-0 left-0 opacity-10"></div>
        </div>
        <div class="flex mt-2 justify-between items-center lg:mt-4">
            {Array.isArray(entry.data?.category) && entry.data.category.length > 0
                ?   <Categories items={entry.data?.category} styles="*:text-yama-accent" />
                :   <span class="text-yama-accent uppercase font-bold text-xs tracking-widest">{trans('category.empty', locale) ?? "Aucune catégorie"}</span>
            }
            <time class="date" datetime={entry.data.date}>
                {formatDate(entry.data.date)}
            </time>
        </div>
        <h2 class="text-lg font-sans font-bold normal-case lg:text-xl lg:mt-2">{entry.data.title}</h2>
        <LinkTopRight styles="mt-2 size-7 lg:mt-4" />
    </a>
</article>
